


.search-bar{
  background-color: whitesmoke;
  height: auto;
  width: 265px;
  border: none;
  border-radius: 4px;


}

.search-suggestions{
  position: absolute;
  cursor: pointer;
border: none;
border-radius: 8px;
}
