// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.login-form-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 19px;
  font-family: 'PT Sans', sans-serif;
  padding: 20px;
}
.link-signup-button{
  color: deepskyblue;

}
.link-login-button{
  color: deepskyblue;
}
.session-submit{
  background-color: deepskyblue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 16px 238px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 700;
}
.session-submit:hover{
  background-color: lightskyblue;
}

.landing-container{
  display: flex;
  flex-direction: column;
  padding: 37px;
  font-family: 'PT Sans', sans-serif;
}
.landing-child{
  display: flex;
  flex-direction: row;
}

.logo{
  padding: 10px;
  width:5%;
  height: 5%;
}

.info-and-image{

  display: flex;
  flex-direction: row;
  margin: 100px;
  justify-content: space-between;
}

.landing-nav-button-container{

  width: 100%;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
}

.landing-nav-container{
  display: flex;
  position: fixed;
  margin: 0 30px;
  background-color: white;
  width: 100%;
}

.text-and-signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
}

.link-landing-buttons{
  float: left;
  display: block;
  padding: 30px 70px;
  background-color: white;
  color: deepskyblue;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
}
.link-landing-buttons:hover{
  color: gold;
}

.landing-signup-button{
  display: flex;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  flex-direction: column;
  border: 1px solid whitesmoke;
  background-color: deepskyblue;
  width: 80px;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  font-weight: 700;

}

h1.logintitle {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.15px;
  line-height: 30px;
  margin: 0 0 16px;
}

.loginpagelinktolanding:hover{
color: gold;
}

.groove-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 45px;

}

.signup-form{
  margin-left: 177px;

}

.login-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-blob{
  width: 600px;
  height: 100vh;
}

.landing-image-globe{
  // position: absolute;
  width: 20%;
  height: 20%;
}
.landing-image-cellphone2{

  width: 30%;
  height: 30%;

}





.login-input{
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  width: 200px;
  border-radius: 4px;
  padding: 10px 20px;
}

.signup-form-container{
  margin: 0;
}

.signup-input0{
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  background-color: white;
  width: 220px;
  border-radius: 4px;
  padding: 10px 20px;
}
.signup-input{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  background-color: white;
  width: 500px;
  border-radius: 4px;
  padding: 10px 20px;
}

.signup-input:focus{
  border-color: gold;
}
.signup-input0:focus{
  border-color: gold;
}

.signup-name-inputs{
    display: flex;
    justify-content: space-between;
    width: 540px;
}


.signup-subtitle{
  font-family: 'Raleway', sans-serif;
    font-weight:400;
    font-size: 28px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

  .login-input:hover{
    background-color: white;
  }

  .login-input:focus{
    border: 1px solid gold;
    background-color: white;

  }
