.splash-nav-button-container{
  width: 100%;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;

}

.splash-logo{
  width: 100%;
  height: auto;
}

.splash-logo-and-search{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.splash-nav{
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  align-items: center;
}

.splash-nav-buttons{

  padding: 20px 30px;
  background-color: white;
  color: black;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
}

.splash-logo-link{
  width: 10%;
  margin-top: 10px;
  margin-left: 40px;
}

.splash-container{
  font-family: 'Raleway', sans-serif;
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
}

.notifications-tab{
  position: absolute;
  top: 50px;
  right: 175px;
  background: whitesmoke;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 12px;

}

.account-tab{
  position: absolute;
  top: 50px;
  right: 55px;
  background: whitesmoke;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
}

.account-tab-section0{

}

.account-tab-button{
  font-weight: bold;
}


.splash-chart{
position: relative;

  padding-top: 200px;
  margin: 100px;
}

.landing-watchlist{
  font-family: 'Raleway', sans-serif;
  position: fixed;
  bottom: -150px;
  right: 100px;
  height: 100vh;

}
